/* add your CSS here */

img {
    width: 300px;
    padding-left: 3em;
    border: 1px rgb(2, 84, 131) solid;
}

li {
    font-weight: bold;
    list-style-type: none;
}

ul {
    border: 1px rgb(2, 84, 131) solid;
}

.interesting-fact {
    font-style: italic;
    border: 1px rgb(2, 84, 131) solid;
    padding-left: 3em;
}

h3 {
    border: 1px rgb(2, 84, 131) solid;
    padding-left: 3em;
}

p {
    border: 1px rgb(2, 84, 131) solid;
    padding-left: 3em;
}